
/Library
/Temp
.vs/InspearedTable_Release-master/FileContentIndex/23af4fb7-58c2-4562-876a-01f865fcd17e.vsidx
.vs/InspearedTable_Release-master/FileContentIndex/2be95790-c0cd-4056-b88c-2ca9d9a3f673.vsidx
.vs/InspearedTable_Release-master/FileContentIndex/abb2da36-a803-41d2-9020-bb42fda047ac.vsidx
.vs/InspearedTable_Release-master/FileContentIndex/cdaced03-91e7-4a79-ad2e-30a123553be1.vsidx
.vs/InspearedTable_Release-master/FileContentIndex/e71421f1-2cba-43d4-b7c3-22afd48bfbca.vsidx
Logs/AssetImportWorker5.log
Logs/AssetImportWorker7.log
/Logs
/.vs
/Logs
/Logs
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
/Logs
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
Packages/packages-lock.json
